!!! 5
html(lang="en")
  head
    meta(http-equiv="Content-type" content="text/html;charset=UTF-8")
    title ?????
    link(rel="stylesheets" type="text/css" media="screen" href="styleseets/bootstrap.css")
    link(rel="stylesheets" type="text/css" media="screen" href="styleseets/custom.css")
  body
    div(class="screenshot")
      div(class="navbar-inner")
        div(class="container")
          div(class="nav-collapse collapse")
            ul(class="nav")
              li
                a(href="#") Home
              li
                a(href="#") Episode Guide
      div(class="container")
        h1 The Scala Types
        content ?????

      hr

      footer
        © The Scala Types 2011-2012
        address
          a(href="ymasory@gmail.com") ymasory@gmail.com
