rss(version="2.0"xmlns:atom="http://www.w3.org/2005/Atom" xmlns:cc="http://web.resource.org/cc/" xmlns:itunes="http://www.itunes.com/dtds/podcast-1.0.dtd" xmlns:media="http://search.yahoo.com/mrss/" xmlns:rdf="http
://www.w3.org/1999/02/22-rdf-syntax-ns#")
  channel
    atom:link(href="http://scalatypes.com/rss" rel="self" type="application/rss+xml")
    title The Scala Types
    pubDate ?????
    lastBuildDate ?????
    generator ?????
    link http://scalatypes.com
    language en
    copyright (C) The Scala Types, 2011-????, CC-BY-NC-ND-3.0
    docs http://scalatypes.com
    managingEditor ymasory@gmail.com
    description Scala news, interviews, and opinions
    image
      url ?????
      title The Scala Types
      link ?????
    itunes:author Yuvi Masory
    itunes:keywords java,programming,scala
    itunes:category(text="Technology")
      itunes:category(text="Tech News")
    itunes:category(text="Technology")
      itunes:category(text="Software How-To")
    itunes:image(href=?????)
    itunes:explicit clean
    itunes:summary Scala news, interviews, and opinions
    itunes:subtitle ?????
        
    
