item
  title ?????
  pubDate ?????
  guid(isPermaLink=?????) ?????
  link http://scalatypes.com/?????
  media:thumbnail(url=?????)
  description ?????
  enclosure(length=????? type=????? url=?????)
  itunes:duration ?????
  itunes:explicit ?????
  itunes:keywords ?????
  itunes:subtitle ?????
